# Ignore all files in the odoo1 directory
*

!.gitignore
!HELP.md

!new_addons/*
!new_addons/estate/*
!new_addons/estate/models/*
!new_addons/estate/security/*
!new_addons/estate/views
!new_addons/estate/views/*
